<div class="modal-content">
  <div class="modal-body">
  	<p class="text-right"><button class="btn btn-default text-right" ng-click="cancel()"><i class="fa fa-times"></i></button></p>
  	
    <button class="btn btn-primary btn-lg center-block" ng-click="fbConnect()">Login with Facebook</button>
  </div>
  <div class="modal-footer">
    <p class="text-center">By logging in you are accepting that you have read and understood the <a ui-sref="terms">Terms of Service</a> and <a ui-sref="privacy">Privacy Policy</a></p>
  </div>
</div><!-- /.modal-content -->
