<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a>New Applicants</a></li>
  <li role="presentation"><a ui-sref="list.listing.rejectapps">Rejected Applicants</a></li>
  <li role="presentation"><a ui-sref="list.listing.chatapps">Accepted Applicants</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        	<div class="row">
        		<div class="col-lg-2">
        			<img src="">
        		</div>
        		<div class="col-lg-10">
        			<p>Name  |  <span>Age, Male</span></p>
        		</div>
        	</div>
        </h4>
      </div>
        <div class="panel-body">
            	<div class="row">
            		<div class="col-lg-5">
            			<img src="">
            		</div>
            		<div class="col-lg-7">
            			<p>Work Experience</p>
            			<p>Education</p>
            			<p>Home Town</p>
            			<p>Mutual Friends</p>
            		</div>
            	</div>
        </div>
  </div>
</div>